@{
  Layout = "_Layout";
}

@using Bakery.Models;

<h1>Flavors</h1>
<hr>

<ul>
  @foreach(Flavor Flavor in Model)
  {
    <li>@Html.ActionLink($"{Flavor.Name}", "Details", new { id = Flavor.FlavorId })</li>
  }
</ul>

<p>@Html.ActionLink("+", "Create")</p>