@{
  Layout = "_Layout";
}

@model Bakery.Models.Treat

<h1>Add a new Treat</h1>
<hr>
@using (Html.BeginForm())
{
  <label for="Description">Description:</label>
  @Html.TextBoxFor(model => model.Description)

  <label for="FlavorId">Select Flavor:</label>
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Submit" class="btn btn-default" />
}